.about-context {
  max-width: 960px;
  display: flex;
  /* align-items: stretch; */
  gap: var(--spacing-m);
  margin: var(--spacing-l) 0;
}

.about-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.about-text > h2 {
  line-height: 1.2;
  font-family: "Lora", serif;
  margin-bottom: var(--spacing-s);
}

.about-text > p {
  flex-grow: 1;
  line-height: 1.7;
  margin-bottom: var(--spacing-l);
}

.about-context img {
  object-fit: cover;
  width: 50%;
}

button {
  background-color: var(--brand-blue-500);
  color: hsla(0, 0%, 100%, 1);
  border: none;
  padding: 0.5rem 1rem;
  font-family: "Lato", sans-serif;
  font-size: var(--font-size-m);
  width: 50%;
  border-radius: var(--border-radius-s);
  text-transform: capitalize;
}
