* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* Variables Declaration */

  /* Colors */
  /* Surface */
  --surface-color-primary: hsla(0, 0%, 96%, 1);
  --surface-color-secondary: hsla(0, 0%, 100%, 1);
  --surface-color-turnary: hsla(0, 0%, 85%, 1);
  --surface-color-quaternary: hsla(0, 0%, 93%, 1); /* background tags */

  /* Surface Alpha Color */
  --surface-color-turnary-alpha: hsla(0, 0%, 85%, 0.2);
  --surface-color-secondary-alpha: hsla(0, 0%, 100%, 0.35);

  /* Border Color and Separatiors */
  --border-color-primary: hsla(0, 0%, 70%, 1);
  --border-color-secondary: hsla(0, 0%, 60%, 1);

  /* Text Color */
  --text-color-primary: hsla(220, 20%, 10%, 1);
  --text-color-secondary: hsla(220, 20%, 50%, 1);
  --text-color-tertiary: hsla(220, 20%, 45%, 1);

  /* Link Color */
  --link-active: var(--text-color-primary);
  --link-hover: var(--brand-blue-600);
  --link-default: var(--green-700);

  /* Semantic Color */
  --yellow-100: hsla(44, 100%, 90%, 1);
  --yellow-300: hsla(44, 100%, 70%, 1);
  --yellow-500: hsla(44, 100%, 50%, 1);
  --yellow-600: hsla(44, 100%, 40%, 1);
  --yellow-650: hsla(44, 100%, 30%, 1);
  --yellow-700: hsla(44, 100%, 25%, 1);
  --brand-blue-100: hsla(220, 70%, 90%, 1);
  --brand-blue-200: hsla(220, 70%, 80%, 1);
  --brand-blue-300: hsla(220, 70%, 70%, 1);
  --brand-blue-400: hsla(220, 70%, 60%, 1);
  --brand-blue-500: hsla(220, 70%, 50%, 1);
  --brand-blue-600: hsla(220, 70%, 40%, 1);
  --brand-blue-700: hsla(220, 70%, 30%, 1);
  --brand-blue-800: hsla(220, 70%, 20%, 1);
  --green-400: hsla(148, 25%, 60%, 1);
  --green-500: hsla(148, 25%, 50%, 1);
  --green-700: hsla(148, 25%, 35%, 1);
  --neutral-100: hsla(1, 0%, 90%, 1);
  --neutral-200: hsla(1, 0%, 80%, 1);
  --neutral-300: hsla(1, 0%, 70%, 1);
  --neutral-400: hsla(1, 0%, 60%, 1);
  --neutral-alpha-400: hsla(1, 0%, 60%, 0.5);
  --neutral-600: hsla(1, 0%, 40%, 1);
  --neutral-alpha-600: hsla(1, 0%, 40%, 0.5);

  /* shadow */
  --shadow-primary: hsla(220, 10%, 70%, 0.5);

  /* Font Sizes */
  --font-size-sm: 14px;
  --font-size-m: 17px; /*base Bont*/
  --font-size-l: 25px;
  --font-size-xl: 30px;
  --font-size-xxl: 50px;

  /* Border Radius */
  --border-radius-xs: 5px;
  --border-radius-s: 7px;

  /* Spacing */
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-s: 1rem;
  --spacing-m: 2rem;
  --spacing-l: 3rem;
  --spacing-xl: 6rem;
}
[data-theme="dark"] {
  /* Surface Color */
  --surface-color-primary: hsla(220, 10%, 15%, 1);
  --surface-color-secondary: hsla(220, 10%, 10%, 1);
  --surface-color-turnary: hsla(220, 10%, 20%, 1);
  --surface-color-quaternary: hsla(220, 10%, 25%, 1); /* background tags */

  /* Shadow */
  --shadow-primary: hsla(220, 10%, 30%, 0.5);

  /* Text Color */
  --text-color-primary: hsla(0, 0%, 100%, 1);
  --text-color-secondary: hsla(220, 20%, 75%, 1);
  --text-color-tertiary: hsla(220, 20%, 60%, 1);

  /* Border Color and Separatiors */
  --border-color-primary: hsla(220, 10%, 40%, 1);
  --border-color-secondary: hsla(220, 10%, 50%, 1);

  /* Link Color */
  --link-active: var(--text-color-primary);
  --link-hover: var(--brand-blue-400);
  --link-default: var(--green-400);
}
