* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* Variables Declaration */
  /* Colors */

  /* Surface */
  --surface-color-light-primary: hsla(0, 0%, 96%, 1);
  --surface-color-light-secondary: hsla(0, 0%, 98%, 1);
  --surface-color-light-turnary: hsla(0, 0%, 85%, 1);
  --surface-color-light-quaternary: hsla(0, 0%, 93%, 1); /* background tags */
  --surface-color-dark-primary: hsla(220, 10%, 20%, 1);

  /* Border Color */
  --border-color-light-primary: hsla(0, 0%, 70%, 1);
  --border-color-light-secondary: hsla(0, 0%, 60%, 1);

  /* Text Color */
  --text-color-light-primary: hsla(220, 20%, 10%, 1);
  --text-color-light-secondary: hsla(220, 20%, 50%, 1);
  --text-color-light-tertiary: hsla(220, 20%, 45%, 1);

  /* Semantic Color */
  --yellow-100: hsla(44, 100%, 90%, 1);
  --yellow-300: hsla(44, 100%, 70%, 1);
  --yellow-500: hsla(44, 100%, 50%, 1);
  --yellow-700: hsla(44, 100%, 30%, 1);
  --brand-blue-500: hsla(220, 70%, 50%, 1);
  --green-500: hsla(148, 25%, 50%, 1);

  /* Font Sizes */
  --font-size-sm: 14px;
  --font-size-m: 17px; /*base Bont*/
  --font-size-l: 30px;
  --font-size-xl: 50px;

  /* Border Radius */
  --border-radius-xs: 5px;

  /* Spacing */
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-s: 1rem;
  --spacing-m: 2rem;
  --spacing-l: 3rem;
  --spacing-xl: 6rem;
}

body {
  font-family: "Lato", sans-serif;
  font-size: var(--font-size-m);
  color-scheme: light dark;
  background-color: var(--surface-color-light-primary);
  color: var(--text-color-light-primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
