.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: auto;
  padding: 2rem;
  min-height: 70px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: hsla(0, 0%, 100%, 1); */
  width: 70px;
  height: 70px;
  border-radius: 99rem;
}
.navbar-links {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.nav-link.active {
  color: var(--text-color-primary);
  font-weight: 600;
  text-decoration: none;
  border: none;
  background-color: transparent;
}

.navbar-links > a {
  font-size: 20px;
  line-height: 1.5;
  color: var(--link-default);
  text-decoration: none;
}

.navbar-links > a:hover {
  color: var(--link-hover);
  transition: 500ms;
}

@media (min-width: 786px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: auto;
    padding: 2.5rem 5rem;
    min-height: 70px;
  }
}
