.card-container {
  background-color: var(--surface-color-secondary);
  overflow: hidden;
  aspect-ratio: 1.618 / 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  cursor: pointer;
}

.project-description {
  margin-top: var(--spacing-xs);
  font-size: var(--font-size-m);
  line-height: 1.5;
  color: var(--text-color-secondary);
}

.project-title {
  font-size: var(--font-size-l);
  line-height: 1.2;
  font-weight: 600;
}

.tags-container {
  display: flex;
  gap: 0.5rem;
  margin-top: var(--spacing-s);
}
.tag-text {
  font-size: var(--font-size-sm);
  line-height: 1.3;
  text-transform: uppercase;
  color: var(--text-color-tertiary);
}

.tag {
  display: inline-flex;
  padding: var(--spacing-xxs) var(--spacing-xs);
  background-color: var(--surface-color-quaternary);
  border-radius: 1rem;
}

.sm-icon {
  font-size: 15px;
  color: var(--text-color-tertiary);
}

.hover-state {
  padding: var(--spacing-m);
}
.cover-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
