.page-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-cover-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  filter: brightness(70%);
}

.headlines {
  font-family: "Lora", serif;
  font-size: var(--font-size-m);
  margin-bottom: 2rem;
  color: var(--text-color-secondary);
  text-align: center;
}

.two-col-text-block {
  display: flex;
  gap: 2rem;
}

h3 {
  font-size: var(--font-size-l);
  font-weight: 600;
  font-family: "Lora", serif;
}
.text-block {
  flex: 1;
  line-height: 1.7;
}

.text-block-row {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.text-block-row > p {
  flex: 2;
}
.text-block-row > h3 {
  flex: 1;
}

.two-col-text-block > p {
  flex: 1;
}

.section {
  margin-bottom: 4rem;
}

.single-col-text-block {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.single-col-text-block-sm {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.highlighted {
  font-weight: 600;
  color: var(--text-color-secondary);
}

.text-block-emphasis {
  background-color: var(--yellow-100);
  color: hsla(220, 10%, 10%, 1);
  padding: 1rem;
  border: 2px solid var(--yellow-500);
  border-radius: 0.5rem;
  line-height: 1.7;
}

.ico {
  color: var(--yellow-500);
  margin-right: 4px;
}

.caselet-images {
  margin-top: 0.5rem;
  width: 100%;
}

.break {
  width: 100%;
  height: 2px;
  background-color: var(--border-color-primary);
  margin: 3rem 0;
}

.banner-info {
  background-color: var(--brand-blue-100);
  padding: 1rem;
  color: var(--brand-blue-800);
  border-radius: 0.5rem;
  border: 2px solid var(--brand-blue-200);
  margin-bottom: 2rem;
}

.ico-info {
  color: var(--brand-blue-500);
  margin-right: 4px;
}

table {
  border-radius: 0.25rem;
  border: 1px solid var(--border-color-primary);
  border-collapse: separate;
  width: 597.34px;
}

th {
  padding: 0.5rem 1.5rem;
  text-align: left;
  background-color: var(--surface-color-quaternary);
  font-weight: 700;
}
.td-dark {
  padding: 1rem 1.5rem;
  text-align: left;
  background-color: var(--surface-color-secondary);
}
.td-base {
  padding: 1rem 1.5rem;
  text-align: left;
}

li {
  line-height: 1.7;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.caption-big {
  font-size: var(--font-size-l);
  font-style: italic;
  color: var(--text-color-tertiary);
  font-weight: 500;
}

.header-block {
  flex: 1;
  margin-top: 0.5rem;
}
.spacer-lg {
  min-height: 10rem;
}

.icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--yellow-500);
  border-radius: 50%;
  border: 2px solid hsla(1, 0%, 100%, 1);
  max-width: 60px;
  max-height: 60px;
}

.xl-icon {
  color: var(--yellow-700);
  font-size: 32px;
}

.achievement-banner {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  background-color: var(--yellow-100);
  border-radius: 0.5rem;
  padding: 2rem 3rem;
  border: 2px solid var(--yellow-300);
}

.achvmnt-header {
  color: var(--yellow-650);
  font-weight: 800;
  font-size: var(--font-size-m);
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.achvmnt-body {
  color: hsla(220, 10%, 15%, 1);
  font-size: var(--font-size-l);
}
